### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [92]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [4]:
school_data_complete.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [5]:
#calculating totals

totalschools = school_data["school_name"].count()
totalstudents = len(school_data_complete["Student ID"].unique())

totalbudget = school_data["budget"].sum()

print(totalstudents)

#compared the above to the count of rows in school_data_complete to confirm there weren't any students with multiple records

39170

In [6]:
readingavg = school_data_complete["reading_score"].mean()
mathavg = school_data_complete["math_score"].mean()
print(mathavg)

78.98537145774827

In [7]:
passedreading = school_data_complete.loc[school_data_complete["reading_score"] >= 70,:]
totalpassedreading = passedreading["Student ID"].count()
readingpasspct = totalpassedreading/totalstudents*100
print(readingpasspct)

85.80546336482001

In [8]:
passedmath = school_data_complete.loc[school_data_complete["math_score"] >= 70,:]
totalpassedmath = passedmath["Student ID"].count()
mathpasspct = totalpassedmath/totalstudents*100
print(mathpasspct)

74.9808526933878

In [9]:
passedboth = school_data_complete.loc[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70),:]
totalpassedboth = passedboth["Student ID"].count()
bothpasspct = totalpassedboth/totalstudents*100
print(bothpasspct)

65.17232575950983

In [10]:
District_Summary = pd.DataFrame({"Number of Schools":[totalschools], 
                                "Number of Students":[totalstudents], 
                                "Total Budget": [totalbudget],
                                "Average Math Score": [mathavg],
                                "Average Reading Score": [readingavg],
                                "Percent Passing Math": [mathpasspct],
                                "Percent Passing Reading": [mathpasspct],
                                "Percent Passing Overall": [bothpasspct]})
District_Summary

,Number of Schools,Number of Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,74.980853,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [91]:
grouped = school_data_complete.groupby(['school_name'])
grouped.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [87]:
alpha_school_data = school_data.sort_values(by="school_name", ascending="false")

In [95]:
schoolnames = alpha_school_data["school_name"]
alpha_school_data = alpha_school_data.set_index(schoolnames)
alpha_school_data = alpha_school_data[['type', 'size', 'budget']]

alpha_school_data

#getting this into a nice format and indexed by school name so that data pulled from it can merge with the data pulled from the grouped dataframe

                           type  size   budget
school_name
Bailey High School     District  4976  3124928
Cabrera High School     Charter  1858  1081356
Figueroa High School   District  2949  1884411
Ford High School       District  2739  1763916
Griffin High School     Charter  1468   917500
Hernandez High School  District  4635  3022020
Holden High School      Charter   427   248087
Huang High School      District  2917  1910635
Johnson High School    District  4761  3094650
Pena High School        Charter   962   585858
Rodriguez High School  District  3999  2547363
Shelton High School     Charter  1761  1056600
Thomas High School      Charter  1635  1043130
Wilson High School      Charter  2283  1319574
Wright High School      Charter  1800  1049400

In [96]:
schooltypes = alpha_school_data["type"]
budget_school=alpha_school_data["budget"]
totalstudents_school=alpha_school_data["size"]

In [82]:
#totalstudents_school = grouped["Student ID"].count()

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [98]:
budgetperstudent=budget_school/totalstudents_school

In [99]:
mathavg_school = grouped["math_score"].mean()
readingavg_school = grouped["reading_score"].mean()

In [100]:
passedreading_school = passedreading.groupby(["school_name"])
totalpassedreading_school = passedreading_school["Student ID"].count()
readingpasspct_school = totalpassedreading_school/totalstudents_school*100

In [101]:
passedmath_school = passedmath.groupby(["school_name"])
totalpassedmath_school = passedmath_school["Student ID"].count()
mathpasspct_school = totalpassedmath_school/totalstudents_school*100

In [102]:
passedboth_school = passedboth.groupby(["school_name"])
totalpassedboth_school = passedboth_school["Student ID"].count()
bothpasspct_school = totalpassedboth_school/totalstudents_school*100

In [103]:
school_summary = pd.DataFrame({"School Type":schooltypes,
                                "Number of Students": totalstudents_school,
                                "Budget": budget_school,
                               "Budget per Student": budgetperstudent,
                                "Average Math Score": mathavg_school,
                                "Average Reading Score": readingavg_school,
                                "Percent Passing Math": mathpasspct_school,
                                "Percent Passing Reading": mathpasspct_school,
                                "Percent Passing Overall": bothpasspct_school})

school_summary

,School Type,Number of Students,Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,66.680064,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,94.133477,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,65.988471,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,68.309602,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,93.392371,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,66.752967,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,92.505855,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,65.683922,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,66.057551,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,94.594595,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,66.366592,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,93.867121,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,93.272171,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,93.867718,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,93.333333,90.333333

* Sort and display the top five performing schools by % overall passing.

In [22]:
top_schools = school_summary.sort_values(by="Percent Passing Overall", ascending=False)

top_schools.head(5)

,School Type,Number of Students,Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
school_name,,,,,,,,,
Cabrera High School,Charter,1858,2009159448,1081356.0,83.061895,83.975780,94.133477,94.133477,91.334769
Thomas High School,Charter,1635,1705517550,1043130.0,83.418349,83.848930,93.272171,93.272171,90.948012
Griffin High School,Charter,1468,1346890000,917500.0,83.351499,83.816757,93.392371,93.392371,90.599455
Wilson High School,Charter,2283,3012587442,1319574.0,83.274201,83.989488,93.867718,93.867718,90.582567
Pena High School,Charter,962,563595396,585858.0,83.839917,84.044699,94.594595,94.594595,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [23]:
bottom_schools = school_summary.sort_values(by="Percent Passing Overall", ascending=True)

bottom_schools.head(5)

,School Type,Number of Students,Budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
school_name,,,,,,,,,
Rodriguez High School,District,3999,10186904637,2547363.0,76.842711,80.744686,66.366592,66.366592,52.988247
Figueroa High School,District,2949,5557128039,1884411.0,76.711767,81.158020,65.988471,65.988471,53.204476
Huang High School,District,2917,5573322295,1910635.0,76.629414,81.182722,65.683922,65.683922,53.513884
Hernandez High School,District,4635,14007062700,3022020.0,77.289752,80.934412,66.752967,66.752967,53.527508
Johnson High School,District,4761,14733628650,3094650.0,77.072464,80.966394,66.057551,66.057551,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [24]:
school_data_complete.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [25]:
grade9 = school_data_complete.loc[school_data_complete["grade"] == "9th",:]
grade10 = school_data_complete.loc[school_data_complete["grade"] == "10th",:]
grade11 = school_data_complete.loc[school_data_complete["grade"] == "11th",:]
grade12 = school_data_complete.loc[school_data_complete["grade"] == "12th",:]

In [26]:
grouped9 = grade9.groupby(['school_name'])
grouped10 = grade10.groupby(['school_name'])
grouped11 = grade11.groupby(['school_name'])
grouped12 = grade12.groupby(['school_name'])

In [27]:
mathavg9 = grouped9["math_score"].mean()
mathavg10 = grouped10["math_score"].mean()
mathavg11 = grouped11["math_score"].mean()
mathavg12 = grouped12["math_score"].mean()

In [28]:
mathavg_grade = pd.DataFrame({"Average 9th Grade Math Score":mathavg9,
                                "Average 10th Grade Math Score":mathavg10,
                                "Average 11th Grade Math Score":mathavg11,
                                "Average 12th Grade Math Score":mathavg12})
mathavg_grade

,Average 9th Grade Math Score,Average 10th Grade Math Score,Average 11th Grade Math Score,Average 12th Grade Math Score
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [29]:
readingavg9 = grouped9['reading_score'].mean()
readingavg10 = grouped10['reading_score'].mean()
readingavg11 = grouped11['reading_score'].mean()
readingavg12 = grouped12['reading_score'].mean()

In [30]:
readingavg_grade = pd.DataFrame({"Average 9th Grade Reading Score":readingavg9,
                                "Average 10th Grade Reading Score":readingavg10,
                                "Average 11th Grade Reading Score":readingavg11,
                                "Average 12th Grade Reading Score":readingavg12})
readingavg_grade

,Average 9th Grade Reading Score,Average 10th Grade Reading Score,Average 11th Grade Reading Score,Average 12th Grade Reading Score
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [129]:
spending  = alpha_school_data
#starting in a new dataframe so i don't mess up the one that's working!
spending.head()

                          type  size   budget  Budget per Student
school_name
Bailey High School    District  4976  3124928               628.0
Cabrera High School    Charter  1858  1081356               582.0
Figueroa High School  District  2949  1884411               639.0
Ford High School      District  2739  1763916               644.0
Griffin High School    Charter  1468   917500               625.0

In [130]:
#spending = school_data_complete[['school_name','reading_score', 'math_score','size', 'budget']]

In [131]:
spending["Budget per Student"] = spending["budget"]/spending["size"]
spending.head()

                          type  size   budget  Budget per Student
school_name
Bailey High School    District  4976  3124928               628.0
Cabrera High School    Charter  1858  1081356               582.0
Figueroa High School  District  2949  1884411               639.0
Ford High School      District  2739  1763916               644.0
Griffin High School    Charter  1468   917500               625.0

In [123]:
school_summary.columns

Index(['School Type', 'Number of Students', 'Budget', 'Budget per Student',
       'Average Math Score', 'Average Reading Score', 'Percent Passing Math',
       'Percent Passing Reading', 'Percent Passing Overall'],
      dtype='object')

In [128]:
addcolumns = school_summary[['Average Math Score', 'Average Reading Score', 'Percent Passing Math',
       'Percent Passing Reading', 'Percent Passing Overall']]

In [152]:
school_aspects = pd.merge(spending, addcolumns, left_index=True, right_index=True)
#looked at https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html for merging on indexes
school_aspects

,type,size,budget,Budget per Student,Bin,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,625 - 649,77.048432,81.033963,66.680064,66.680064,54.642283
Cabrera High School,Charter,1858,1081356,582.0,575 - 599,83.061895,83.975780,94.133477,94.133477,91.334769
Figueroa High School,District,2949,1884411,639.0,625 - 649,76.711767,81.158020,65.988471,65.988471,53.204476
Ford High School,District,2739,1763916,644.0,625 - 649,77.102592,80.746258,68.309602,68.309602,54.289887
Griffin High School,Charter,1468,917500,625.0,625 - 649,83.351499,83.816757,93.392371,93.392371,90.599455
Hernandez High School,District,4635,3022020,652.0,650 - 675,77.289752,80.934412,66.752967,66.752967,53.527508
Holden High School,Charter,427,248087,581.0,575 - 599,83.803279,83.814988,92.505855,92.505855,89.227166
Huang High School,District,2917,1910635,655.0,650 - 675,76.629414,81.182722,65.683922,65.683922,53.513884
Johnson High School,District,4761,3094650,650.0,650 - 675,77.072464,80.966394,66.057551,66.057551,53.539172
Pena High School,Charter,962,585858,609.0,600 - 624,83.839917,84.044699,94.594595,94.594595,90.540541
Rodriguez High School,District,3999,2547363,637.0,625 - 649,76.842711,80.744686,66.366592,66.366592,52.988247
Shelton High School,Charter,1761,1056600,600.0,600 - 624,83.359455,83.725724,93.867121,93.867121,89.892107
Thomas High School,Charter,1635,1043130,638.0,625 - 649,83.418349,83.848930,93.272171,93.272171,90.948012
Wilson High School,Charter,2283,1319574,578.0,575 - 599,83.274201,83.989488,93.867718,93.867718,90.582567
Wright High School,Charter,1800,1049400,583.0,575 - 599,83.682222,83.955000,93.333333,93.333333,90.333333

In [153]:
school_aspects["Budget per Student"].sort_values()

school_name
Wilson High School       578.0
Holden High School       581.0
Cabrera High School      582.0
Wright High School       583.0
Shelton High School      600.0
Pena High School         609.0
Griffin High School      625.0
Bailey High School       628.0
Rodriguez High School    637.0
Thomas High School       638.0
Figueroa High School     639.0
Ford High School         644.0
Johnson High School      650.0
Hernandez High School    652.0
Huang High School        655.0
Name: Budget per Student, dtype: float64

In [154]:
bins = [575,600,625,650,675]
groupnames = ["575 - 599","600 - 624","625 - 649","650 - 675"]

In [155]:
school_aspects["Budget Range (Dollars Per Student)"] = pd.cut(school_aspects["Budget per Student"], bins, labels = groupnames)

In [156]:
school_aspects

,type,size,budget,Budget per Student,Bin,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall,Budget Range (Dollars Per Student)
school_name,,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,625 - 649,77.048432,81.033963,66.680064,66.680064,54.642283,625 - 649
Cabrera High School,Charter,1858,1081356,582.0,575 - 599,83.061895,83.975780,94.133477,94.133477,91.334769,575 - 599
Figueroa High School,District,2949,1884411,639.0,625 - 649,76.711767,81.158020,65.988471,65.988471,53.204476,625 - 649
Ford High School,District,2739,1763916,644.0,625 - 649,77.102592,80.746258,68.309602,68.309602,54.289887,625 - 649
Griffin High School,Charter,1468,917500,625.0,625 - 649,83.351499,83.816757,93.392371,93.392371,90.599455,600 - 624
Hernandez High School,District,4635,3022020,652.0,650 - 675,77.289752,80.934412,66.752967,66.752967,53.527508,650 - 675
Holden High School,Charter,427,248087,581.0,575 - 599,83.803279,83.814988,92.505855,92.505855,89.227166,575 - 599
Huang High School,District,2917,1910635,655.0,650 - 675,76.629414,81.182722,65.683922,65.683922,53.513884,650 - 675
Johnson High School,District,4761,3094650,650.0,650 - 675,77.072464,80.966394,66.057551,66.057551,53.539172,625 - 649
Pena High School,Charter,962,585858,609.0,600 - 624,83.839917,84.044699,94.594595,94.594595,90.540541,600 - 624
Rodriguez High School,District,3999,2547363,637.0,625 - 649,76.842711,80.744686,66.366592,66.366592,52.988247,625 - 649
Shelton High School,Charter,1761,1056600,600.0,600 - 624,83.359455,83.725724,93.867121,93.867121,89.892107,575 - 599
Thomas High School,Charter,1635,1043130,638.0,625 - 649,83.418349,83.848930,93.272171,93.272171,90.948012,625 - 649
Wilson High School,Charter,2283,1319574,578.0,575 - 599,83.274201,83.989488,93.867718,93.867718,90.582567,575 - 599
Wright High School,Charter,1800,1049400,583.0,575 - 599,83.682222,83.955000,93.333333,93.333333,90.333333,575 - 599

In [140]:
len(school_aspects["Budget per Student"])
#Getting this for the list comprehension below, although looking at it i already had it because it's just the total number of students!

15

In [144]:
len(range(0,16))

16

In [148]:
for x in schoolnames:
    if school_aspects.loc[x, "Budget per Student"] < 600:
        school_aspects.loc[x,"Budget Range (Dollars Per Student)"] = "575 - 599"
    elif school_aspects.loc[x, "Budget per Student"] < 625:
        school_aspects.loc[x,"Budget Range (Dollars Per Student)"] = "600 - 624"   
    elif school_aspects.loc[x, "Budget per Student"] < 650:
        school_aspects.loc[x,"Budget Range (Dollars Per Student)"] = "625 - 649"   
    else:
        school_aspects.loc[x,"Budget Range (Dollars Per Student)"] = "650 - 675"



school_aspects

,type,size,budget,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall,Budget Range (Dollars Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,66.680064,54.642283,625 - 649
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,94.133477,91.334769,575 - 599
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,65.988471,53.204476,625 - 649
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,68.309602,54.289887,625 - 649
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,93.392371,90.599455,625 - 649
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,66.752967,53.527508,650 - 675
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,92.505855,89.227166,575 - 599
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,65.683922,53.513884,650 - 675
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,66.057551,53.539172,650 - 675
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,94.594595,90.540541,600 - 624
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,66.366592,52.988247,625 - 649
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,93.867121,89.892107,600 - 624
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,93.272171,90.948012,625 - 649
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,93.867718,90.582567,575 - 599
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,93.333333,90.333333,575 - 599

In [72]:
spending_summary = School.groupby("Bin")
spending_summary.count()

,School Name,Budget per Student,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall,Spending Range ($ Per Student)
Bin,,,,,,,,
1.0,2,2,2,2,2,2,2,2
2.0,5,5,5,5,5,5,5,5
3.0,4,4,4,4,4,4,4,4
4.0,4,4,4,4,4,4,4,4

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type